@use '../abstracts/variables' as *;

.header {
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    padding: 3rem 1rem;
    position: relative;
    width: 100%;
    color: $secondaryColor;
    background: $backgroundColor;
    font-size: 2rem;
    border: 3px solid $secondaryColor;

    &__name {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .header {
        font-size: 1.5rem;
    }
}
