$primaryColor: #220743;
$secondaryColor: #43071c;
$tertiaryColor: #062e08;
$textColor: white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body {
    position: relative;
    background-color: rgb(51, 51, 51);
    overflow-x: hidden;
    header {
        position: fixed;
        top: 0;
        width: 100%;
        color: $textColor;
        background-color: $primaryColor;
        z-index: 1;
        div {
            display: flex;
            width: 90%;
            margin: auto;
            align-items: center;
            justify-content: space-between;
            padding: .5rem;
            height: 80px;
            h1 {
                font-size: 40px;
            }
            nav {
                input {
                    display: none;
                }
                label {
                    display: none;
                    font-size: 2rem;
                    color: $textColor;
                    float: right;
                    line-height: 1rem;
                    cursor: pointer;
                }
                ul {
                    display: flex;
                    list-style-type: none;
                    li {
                        margin-left: 5px;
                        padding: .5rem;
                        text-transform: uppercase;
                        font-size: 1rem;
                        a {
                            text-decoration: none;
                            color: $textColor;                    
                        }
                        &:hover {
                            border: 1px solid;
                            border-color: rgb(39, 37, 37) darkgray darkgray rgb(39, 37, 37);
                            background-color: #46128a;
                        }
                    }
                    
                }
            }
        }
    }
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    color: $textColor;
    height: 90vh;
    border-radius: 50%;
    font-size: 2.5rem;
}
.intro1 {
    opacity: 0;
    animation: 3s ease 1s testing;
}
.intro2 {
    opacity: 0;
    animation: 3s ease 3s testing;
}
.intro3 {
    opacity: 0;
    animation: 3s ease 5s testing;
}

@keyframes testing {
    75%{
        opacity: 1;
    }
}
.contentContainer {
    padding: 130px 0;
    background: linear-gradient(to bottom right, darkgray, black);
}
.cardContainer {
    padding: 1.5rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 2.3rem black;
    max-width: 750px;
}
.card {
    display: grid;
    border: solid 3px $tertiaryColor;
    width: 90%;
    margin: 4rem auto;
    border-radius: 2rem;
    background: rgb(1, 54, 47);
    max-width: 600px;
    h1 {
        text-align: center;
        margin-top: 20px;
        color: $textColor;
    }
    img {
        margin: 20px auto;
        max-width: 100%;
        max-height: 100%;
        border: solid 1rem $tertiaryColor;
        border-radius: 3rem;
    }
    p {
        padding: 1rem 2rem;
        text-align: center;
        color: $textColor;
        margin: 0 0 1rem;
    }
    div {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 1.5rem 0.5rem 2rem;
        button {
            padding: .8rem 1rem;
            border-radius: 1rem;
            background-color: $primaryColor;
            color: $textColor;
            border: solid 1px $tertiaryColor;
        }
        button:hover {
            background-color: #46128a;
            cursor: pointer;
        }
    }
}

.card-1 {
    width: 80%;
    margin:  2rem auto 5rem;
    background: linear-gradient(to right bottom, $primaryColor, black);
}
.card-2 {
    width: 80%;
    margin: 5rem auto;
    background: linear-gradient(to right bottom, #06beb6, black);
    transform: translateX(-50%);
}
.card-3 {
    width: 80%;
    margin: 5rem auto;
    background: linear-gradient(to right bottom, #021c72, black);
}
.card-4 {
    width: 80%;
    margin: 5rem auto;
    background: linear-gradient(to right bottom, $tertiaryColor, black);
    transform: translateX(-50%);
}
.hidden {
    opacity: 0;
    filter: blur(10px);
    transition: all 2s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


@media (max-width: 768px) {
    body {
        header {
            div {
                width: 95%;
                h1 {
                    font-size: 30px;
                }
                nav {
                    input:checked ~ ul {
                        right: 0rem;
                    }
                    label {
                        display: block;
                    }
                    ul {
                        position: fixed;
                        display: block;
                        flex-direction: column;
                        right: -100%;
                        background-color: $primaryColor;
                        text-align: left;
                        transition: all .5s;
                        top: 80px;
                        li {
                            padding: .8rem 3rem .8rem .8rem;
                        }
                    }
                }
            }
        }
    }
    .intro {
        font-size: 1rem;
    }
    .card {
        width: 80%;
    }
}